
@font-face{
	font-family: bpg_mrgvlovani_caps_2010;
	src: url(fonts/bpg_mrgvlovani_caps_2010.ttf);
}
#main_wrp{
	font-family: bpg_mrgvlovani_caps_2010;
}
#space_login{
	margin-bottom: 10px;
}
#but{
	width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: bpg_mrgvlovani_caps_2010;
}
@font-face{
	font-family: Veranda_Exact;
	src: url(fonts/Veranda_Exact.ttf);
}

@font-face{
	font-family: bpg_mrgvlovani_caps_2010;
	src: url(fonts/bpg_mrgvlovani_caps_2010.ttf);
}
@media print{
    #nonprintable { display: none; }
    #nonprintable1 { display: none; }
    #menu_wrapper{
    	display: none;
    }
    #printable { 
    	display: block !important;
    }

    #printable tr{
    	font-size: 5pt;
    	font-family:Arial;
    }
    .table{
    	
    }
    .table .table-bordered tr {
    	page-break-inside:avoid;
    	page-break-after: always; 
     	padding-top:2px;
     	line-height: 0.5;
    	padding-bottom: 2px;
    }
    .table .table-bordered td{
    	line-height: 0.5;
    	page-break-inside:avoid;
    	padding-top:2px;
    	padding-bottom: 2px;
    }
    #zezvaze{
    	page-break-after: always; 
    }
    #zezvaze1{
    	page-break-inside: auto;
    	page-break-before:auto;
    	page-break-after:auto;
    }
	.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
		line-height: 0.5;
		padding: 6px;
		page-break-after: always; 
		page-break-inside:avoid; 
		page-break-before: auto;
		 
}	
    #fleski{
    	width: 50%;
    }
    #deski{
    	width: 50%;
    }
    #signatures{
    	margin-top: 30px;
    	font-size: 7pt;
    }
    #signatures h4{
    	font-size: 7pt;
    }
    #sign{
    	margin-top: 40px;
    	font-size: 7pt;
    }
    #sign h4{
    	font-size: 7pt;
    }
    #break{
    	page-break-inside: auto;
    }
    #title{
    	page-break-before: always;
    }
    #whs_dep_print{
    	page-break-before: always;
    }
    #tr_print_dep{
    	font-size: 6pt;
    }
}

#but{
	width: 470px;
    height: 40px;
    font-family: bpg_mrgvlovani_caps_2010;
}
#login_panel_head{
	font-family: bpg_mrgvlovani_caps_2010;
	text-align: center;
}
#login_label{
	font-family: bpg_mrgvlovani_caps_2010;
	font-size: 10pt;
	margin-top: 3px;
}
#login_form{
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}
#space_login{
	margin-top: 5px;
	margin-bottom: 10px;
}
.page-header{
	font-family:bpg_mrgvlovani_caps_2010; 
}
#big_p h5{
	font-size: 18pt;
	color: black;
	font-weight: 900;
}
#small_p h5{
	font-size: 10pt;
	color:#777;
}
#label{
	font-family:bpg_mrgvlovani_caps_2010; 
	font-size: 10pt;
	margin-top: 3px;
}
#signatures{
	
}
#subm{
	width: 100%;
    height: 40px;
    font-family: bpg_mrgvlovani_caps_2010;
}
#tdtdtd{
	width: 40px;
	padding-left: 12px;
    padding-top: 10px;
}
#tdtdtd a{
	color:#B71818;
}
#echo{
	font-family: bpg_mrgvlovani_caps_2010;
}
#nonprintable1 h3{
	font-family: bpg_mrgvlovani_caps_2010;
	font-size:13pt;
	padding-left: 15px;
}
#nonprintable1{
	border-bottom: 1px solid #D8D8D8;
	margin-bottom: 15px;
	padding: 5px;
}
#bgogo{
	border:1px solid gray;
	padding: 10px;
	border-radius: 5px;
	font-family: bpg_mrgvlovani_caps_2010;
}
#titttle{
	font-family: bpg_mrgvlovani_caps_2010;
}
#submit1{
	width: 100%;
  	height: 4%;
  	font-family: bpg_mrgvlovani_caps_2010;
}
#submit2{
	width: 100%;
  	height: 4%;
  	font-family: bpg_mrgvlovani_caps_2010;
}
body{
	  background-color: #F9F9F9;
}
#person_name{
	font-family: Veranda_Exact;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #1b809e;
  border-left-width: 5px;
  border-radius: 3px;
}
#prsnl{
	font-family: bpg_mrgvlovani_caps_2010;
}
#table_cent_tr_header{
	text-align: center;
	font-weight: 700;
	vertical-align: middle;
}
#del{
	color:rgb(190, 34, 34);
}
#ok{
	color:green;
}
#info{
	color:red;
}
#cent_td{
	text-align: center;
	vertical-align: middle;
}
#exact{
	background-color: #DD0E2D;
	height: 70px;
	border-color:#DD0E2D;
	margin-bottom: 10px;
	font-family: bpg_mrgvlovani_caps_2010;
}
#dl{
	color: red;
}
#title{
	text-align: center;
}
#authi{
	background-color: #64A538;
	height: 70px;
	border-color:#64A538;
	margin-bottom: 10px;
	font-family: bpg_mrgvlovani_caps_2010;
}
#whs{
	height: 70px;
	margin-bottom: 10px;
	font-family: bpg_mrgvlovani_caps_2010;
}
#cancel{
	background-color: #6042A8;
	border-color: #6042A8;
	height: 70px;
	margin-bottom: 10px;
	font-family: bpg_mrgvlovani_caps_2010;
}
#admins{
	background-color: #A62AD8;
	border-color: #A62AD8;
	height: 70px;
	margin-bottom: 10px;
	font-family: bpg_mrgvlovani_caps_2010;	
}
#allert_div{
	text-decoration: none;
	margin-top: 5px;
	margin-bottom: 17px;
	vertical-align: middle;
}
#allert_div p{
	vertical-align: middle;
}
#allert_div h4 a{
	text-decoration: none;
	color:rgb(221, 14, 45);
	font-weight: 800;
	vertical-align: middle;
	font-family: bpg_mrgvlovani_caps_2010;
}	
#menu_wrapper{
	color: #1b809e;
	font-family: bpg_mrgvlovani_caps_2010;
	text-decoration: none;
	margin-bottom: 25px;
	margin-top: 10px;
}
#menu_wrapper a{
	text-decoration: underline;
	color:black;
}
#dd{
	font-family: bpg_mrgvlovani_caps_2010;
	font-size: 10pt;
}
#passs{
	margin-top: 10px;
}
#fnt{
	font-family: bpg_mrgvlovani_caps_2010;
}
#passs a{
	color:black;
	font-family: bpg_mrgvlovani_caps_2010;
	text-decoration: underline;
	font-size: 10pt;
}
#roles{
	width: 1200px;
}
#homeic{
	color:black;
}
#rightic{
	color: #EA2727;
}
#whsic{
	color: green;
}
#authic{
	color:green;
}
#depsic{
	color: #FF5700;
}
#tempic{
	color:#3F8459;
}
#revokeic{
	color:#337ab7;
}
#adminsic{
	color:#B79A00;
}
#printic{
	color: #337AB7;
}
#deps{
	background-color: #E58E11;
	border-color: #E58E11;
	height: 70px;
	margin-bottom: 10px;
	font-family: bpg_mrgvlovani_caps_2010;
}
#prnt{
	background-color: #38AE86;
	border-color: #38AE86;
	height: 70px;
	margin-bottom: 10px;
	font-family: bpg_mrgvlovani_caps_2010;	
}
#nwdpa{
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: bpg_mrgvlovani_caps_2010;
}
#nwdpa a{
	color:rgb(195, 10, 10);
	text-decoration: underline;
}
#tbl{
	text-align: center;
}
#tbl h4{
	color:rgba(88, 25, 25, 0.85);
	font-family: bpg_mrgvlovani_caps_2010;
}
#but{
	margin-top: 12px;
}
#none{
	display: none;
}
#rem{
	color:#B10E0E;
}
#ttttt h4{
	font-family: bpg_mrgvlovani_caps_2010;
	font-size: 11pt;
	color:black;
}
#ttttt{
	font-family: bpg_mrgvlovani_caps_2010;
}
#tmpp{
	background-color: #3F8459;
	border-color: #3F8459;
	height: 70px;
	margin-bottom: 10px;
	font-family: bpg_mrgvlovani_caps_2010;
	color:white;
}
#tmppa{
	background-color: #426951;
    border-color: #426951;
    height: 70px;
    margin-bottom: 10px;
    font-family: bpg_mrgvlovani_caps_2010;
    color: white;
}
#aa{
	font-family: bpg_mrgvlovani_caps_2010;
	font-size: 13pt;
	text-decoration: underline;
	color: black;
	margin-top: 15px;
	margin-bottom: 15px;
}
#revoke_user_info{
	padding: 0;
	text-align: center;
}
#revoke_user_info h4{
	font-family: bpg_mrgvlovani_caps_2010;
	font-size: 13pt;
	margin-top: 15px;
	margin-bottom: 15px;
	color:black;
}
#country-list{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	width:190px;
}
#country-list li{
	padding: 10px;
	background:#FAFAFA;
	border-bottom:#F0F0F0 1px solid;
}
#country-list li:hover{
	background:#F0F0F0;
}
#tbli{
	font-family: bpg_mrgvlovani_caps_2010;
}
.tbl_hdr{
	background-color: #aabbb6;
}
.tbl_trs:hover{
	background-color: #e8e8e8;
}
#cent_td a{
	color:black;
}
#cent_td a:hover{
	color:rgb(190, 34, 34);
}
#docs{
	padding: 0;
	font-family: bpg_mrgvlovani_caps_2010;
}
.st_active{
	color:green;
}
.st_finished{
	color:rgb(190, 34, 34);
}
.none{
	display: none;
}
#nobs a{
	color: #bf331d;
}
#link{
	color:black;
	text-decoration:underline;
}
#colsp{
	text-align: center;
    background-color: #f5b4b4;
}
#butis_wrapper{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
}
#buti{
	width: 100%;
	font-family: bpg_mrgvlovani_caps_2010;
}
#logo{
	width: 100%;
    margin-top: 20px
}
#butia{
	font-family: bpg_mrgvlovani_caps_2010;
}
#butia a{
	font-family: bpg_mrgvlovani_caps_2010;
	color: white;
}